* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  
  }
  
  .principal {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
  justify-content: center;
  
  
  }
  
  #navidad {
   visibility: visible;
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
  
  #fondo{
    background-color: rgba(255, 255, 255, 0.1);
      position: absolute;
      width: 100vw;
      height: 100vh;
  }
  
  i {
    position: absolute;
    
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 -1px 1px rgb(114, 114, 114);
    top: -10px;
    animation: nieve linear infinite;
}

@keyframes nieve {
    0% {
        top: -10px;
    }
    100% {
        top: calc(100vh + 50px);
    }
}
p {
    text-align:center;
    background-color:transparent;
    color:rgb(255, 0, 234);
    text-shadow:1px 1px rgb(14, 116, 107);
    font-size:calc(1.2em + 1vw + 1vh);
    font-weight:bold;
    z-index:2;
}
  
  #saludos {
    
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5vw;
  
  
    display: flex;
    position: absolute;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 50vh;
  
    color: rgb(41, 201, 139);
    font-size: 2em;
    font-style: italic;
    visibility: hidden;
    
  }
  
  
  @media(orientation:landscape) {
    .principal {
      width: 40vw;
    }
  
  
  }
  
  